# Version control
.git
.gitignore

# Environment files
.env*
.vscode
*.log
npm-debug.log*

# Dependencies
node_modules/
npm-debug.log

# Test files
**/*.test.js
jest.config.js

# Docker files
Dockerfile
.dockerignore

# Project specific
Containers/
blueprints/pages/
blueprints/blueprints/*.html
blueprints/blueprints/*.js
*.md
